@use './components/Button/button';
@use './components/Color-picker-box/Color-picker/color-picker';
@use './components/Icon-picker-group/Icon-picker/icon-picker';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-style: normal;
  font-weight: 500;
}

p {
  text-align: center;
}

h1 {
  font-size: 2rem;
  color: #3f3f3f;
  padding-bottom: 1rem;
}

select {
  min-width: 100px;
  border: solid 1px #dbdbdb;
  outline: none;
  font-family: 'Noto Sans JP', sans-serif;
  font-style: normal;
  font-weight: 500;
  padding: 5px 0 5px 5px;
  text-align: center;
  margin: 0 1rem;
  &:last-child {
    margin: 0 0 0 1rem;
  }
}

label {
  padding: 0 1.5rem 0 0.3rem;
}

.checkbox-input-container {
  padding: 1rem;
  margin-left: 2rem;
}

.buttons-display-container {
  background-color: rgb(243, 243, 243);
  display: flex;
  justify-content: center;
  min-height: 50vh;
  flex-wrap: wrap;
  align-content: center;
}

.custom-button-container {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button-container {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.select-input-container {
  display: flex;
  padding-top: 1rem;
  align-items: center;

  justify-content: center;
}
